/* FONT STYLE */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import './variables';


:root {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
}

h3 {
    @include reset-mp;
    font-size: 1.6rem;
}

h4 {
    @include reset-mp;
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

h6 {
    font-weight: 400;
}